@keyframes slideup {
  from {
    height: 0;
    display: none;
    opacity: 0;
  }
  to {
    height: 8rem;
    display: block;
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    margin-left: 50%;
    width: 100%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}

@-moz-keyframes slidein {
  from {
    margin-left: 50%;
    width: 100%;
    opacity: 0;
  }

  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes slidein {
  from {
    margin-left: 50%;
    width: 100%;
    opacity: 0;
  }

  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}

@-ms-keyframes slidein {
  from {
    margin-left: 50%;
    width: 100%;
    opacity: 0;
  }

  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}

@-o-keyframes slidein {
  from {
    margin-left: 50%;
    width: 100%;
    opacity: 0;
  }

  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
